{% extends 'OlitazHomeBundle::base.html.twig' %}

{% block content %}
    <div id="content">
        <div class="colGrand">
            <div class="colGrandTop">
                <h1>Mentions légales</h1>
                <p>
                    Mentions légales du site.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
