<div class="lastNews">
    <h2>TotoLes dernières news</h2>
    <p class="bold">13.06.2011</p>
    <p class="black">Hanc regionem praestitutis celebritati diebus qui admissi herbidas</p>
    <p>Invadere parans dux ante edictus per solitudines Abo raeque amnis herbidas ripas, suorum indic...</p>
    <p class="pLink"><a href="" title="">Lire la suite</a></p>
    <br/>
    <p class="bold">13.06.2011</p>
    <p class="black">Hanc regionem praestitutis celebritati diebus qui admissi herbidas</p>
    <p>Invadere parans dux ante edictus per solitudines Abo raeque amnis herbidas ripas, suorum indic...</p>
    <p class="pLink"><a href="" title="">Lire la suite</a></p>
</div>
