{% extends 'OlitazHomeBundle::base.html.twig' %}

{% block content %}
    <!--  Edito   -->
    <div id="intro">
        <h1 class="h1Presentation">Présentation</h1>
        <p>Tempore quo primis auspiciis in mundanum fulgorem surgeret victura dum erunt homines Roma, ut augeretur sublimibus incrementis, foedere pacis aeternae Virtus convenit atque Fortuna plerumque dissidentes, quarum si altera defuisset, ad perfectam non venerat summitatem.</p>
    </div>
    
     <!--  Edito   -->
    <div id="content">
        <div class="colPetit">
            <div class="colPetitTop">
                <h2>Lorem ipsum</h2>
                <p class="black">Vbi curarum abiectis ponderibus aliis tamquam nodum lorem</p>
                <br/>
                <p>Illud tamen te esse admonitum volo, primum ut qualis es talem te esse omnes existiment ut, quantum a rerum turpitudine abes, tantum te a verborum libertate seiungas; deinde ut ea in alterum ne dicas, quae cum tibi falso responsa sint, erubescas. Quis est enim, cui via.</p>  
                <br/>
                <p>Ista non pateat, qui isti aetati atque etiam isti dignitati non possit quam velit petulanter, <a href="" title="">qui te agere voluerunt</a>; laus pudoris tui, quod ea te invitum dicere videbamus, ingenii, quod ornate politeque dixisti.</p>
            </div>
        </div>
        <div class="colPetit colMiddle">
        <div class="colPetitTop">
                <h2>Dolore est</h2>
                <p class="black">Cum saepe multa, tum memini domi in hemicyclio sedentem, ut solebat, cum et ego essem</p>
                <br/>
                <ul>
                    <li>Illud tamen te esse admonitum volo</li>
                    <li>Primum ut qualis es talem te esse </li>
                    <li>Omnes existiment ut, quantum a rerum </li>
                    <li>Turpitudine abes, tantum te a verborum </li>
                    <li>Libertate seiungas; deinde ut ea in alterum </li>
                    <li>Ne dicas, quae cum tibi falso responsa sint</li>
                </ul>
                <br/>
            </div>
        </div>
        <div class="colPetit">
            <div class="colPetitTop">
                <h2>Turn erat consul</h2>
                <p class="black">Vbi curarum abiectis ponderibus aliis tamquam nodum lorem</p>
                <p><img src="{{ asset('/bundles/olitazhome/images/illustr/presentation.jpg') }}" alt="Présentation de Olitaz" class="cadre" /></p>
                <p>laus pudoris tui, quod ea te invitum dicere videbamus, ingenii, quod ornate politeque dixisti.</p>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}
