{% extends 'OlitazHomeBundle::base.html.twig' %}

{% block content %}
    <!--  Edito   -->
    <!--
    <div id="intro">
        <h1 class="h1Presentation">Qui sommes nous?</h1>
        <p>Découvrez en davantage sur Olitaz.</p>
    </div>
    -->
    
     <!--  Edito   -->
    <div id="content">
        <div class="colPetit">
            <div class="colPetitTop">
                <h2>Notre histoire</h2>
                <p class="black">Olitaz est une entreprise jeune et dynamique.</p>
                <br/>
                <p>La société Olitaz a été créée en janvier 2011 par <a href="http://www.odolbeau.fr">Olivier Dolbeau</a>. </p>  
                <br/>
                <p></p>
            </div>
        </div>
        <div class="colMoyen">
            <div class="colMoyenTop">
                <h2>Nos valeurs</h2>
                <p class="black">Olitaz s'engage à respecter certaines valeurs, non seulement auprès de ses clients, mais également auprès de tous les acteurs qui seront amenés à participer à la réalisation d'un projet.</p>
                <br/>
                <p><img src="{{ asset('/bundles/olitazhome/images/illustr/presentation.jpg') }}" alt="Présentation de Olitaz" class="cadre right" /></p>
                <p><span class="underline">Le respect et la politesse:</span> si ces deux notions vous sont étrangères ou ne vous évoquent qu'un vague concept lointain, nous ne sommes certainement pas faits pour collaborer! :)</p>
                <br />
                <p><span class="underline">La communication... et l'écoute:</span> quelques soient les différentes phases d'un projet, il est primordiale qu'une excellente communication s'établisse entre les différents acteurs.</p>
                <br />
                <p><span class="underline">L'amour du travail bien fait:</span> nous ne pratiquons pas le travail low-cost. Faire une application de qualité n'a jamais été (et ne sera jamais) optionnel. Pour cette raison, tous nos travaux s'appuient sur des technologies recéntes et éprouvées et font l'objet de tests (unitaires & fonctionnels).</p>
                <br />
                <p><span class="underline">La transparence:</span> Tous les moyens possibles sont mis en oeuvre pour vous permettre de contrôler le bon déroulement de la réalisation de votre application. L'utilisation des <a href="http://fr.wikipedia.org/wiki/M%C3%A9thode_agile" title="Méthode agile (wikipedia)">méthodes agiles</a> vous permet de prioriser efficacement les fonctionnalités que vous souhaiter mettre en place et un accès permanent à nos serveurs vous permet de vérifier et de tester votre application au fur et à mesure de sa réalisation.
                <br />
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}
