# Ignore private files
app/config/parameters.ini

# Ignore vendors & web folders
vendor/*
web/bundles

# Ignore boostraps & cache / logs / spool
app/bootstrap_cache.php.cache
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/spool/*

# Ignore temporary files
*.swp
