{% extends 'OlitazHomeBundle::base_prestations.html.twig' %}

{% block prestation %}
    <h2>Audit et conseil</h2>
    <p class="black">Nous articulons nos prestations autour de deux thématiques précises: l'audit & le conseil, le développement spécifique.</p>
    <br/>
    <div class="clear"></div>
{% endblock %}
