{% extends 'OlitazHomeBundle::base_prestations.html.twig' %}

{% set nav = 'prestations' %}
{% set ariane = [
        { 'href': url('OlitazHomeBundle_prestations'), 'name': 'Prestations', 'title': 'Prestations proposées par Olitaz' },
        { 'href': url('OlitazHomeBundle_audit'), 'name': 'Audit & Conseil', 'title': 'Présentation de l\'activité d\'audit et de conseil proposée par Olitaz' }
    ] %}

{% block prestation %}
    <h1>Prestations - Audit & conseil</h1>
    <p class="black">Faites auditer votre application pour disposer de conseils adaptés à vos besoins spécifiques.</p>
    <br/>
    <p>Quelque soit la phase dans laquelle vous vous trouverez (conception, réalisation, optimisation, etc.), n'hésitez pas à faire appel à nos services afin de recevoir des conseils pertinent et un accompagnement personnalisé en fonction de vos spécificités métiers.</p>
    <br />
    <p>Parce qu'aucun site ne se ressemble, il est important de proposer des idées d'amélioration et d'optimisation directement en rapport avec le domaine d'activité de votre société.</p>
    <p>Pour ce faire, nous avons à coeur de réaliser un audit complet de manière à être parfaitement au fait de vos besoins et de vos attentes vis à vis de l'application.</p>
    <div class="clear"></div>
{% endblock %}
