{% extends 'OlitazHomeBundle::base_prestations.html.twig' %}

{% block prestation %}
    <h2>Développement spécifique</h2>
    <p class="black">Spécialisés dans le développement web, notamment en PHP / Symfony, nous sommes à l'écoute de vos besoins.</p>
    <br/>
    <p>
        
    </p>
    <div class="clear"></div>
{% endblock %}
