{% extends 'OlitazHomeBundle::base_prestations.html.twig' %}

{% set nav = 'prestations' %}
{% set ariane = [
        { 'href': url('OlitazHomeBundle_prestations'), 'name': 'Prestations', 'title': 'Prestations proposées par Olitaz' },
        { 'href': url('OlitazHomeBundle_development'), 'name': 'Développement spécifique', 'title': 'Présentation de l\'activité de développement proposée par Olitaz' }
    ] %}

{% block prestation %}
    <h1>Prestations - Développement spécifique</h1>
    <p class="black">Spécialisés dans le développement web, notamment en PHP / Symfony, nous sommes à l'écoute de vos besoins.</p>
    <br/>
    <p>Quelque soit votre problématique métier, nous vous proposons une offre de développement sur-mesure parfaitement adaptée et modulable.</p>
    <div class="clear"></div>
{% endblock %}
