{% extends 'OlitazHomeBundle::base_prestations.html.twig' %}

{% set nav = 'prestations' %}

{% block prestation %}
    <h1>Nos Prestations</h1>
    <p class="black">Nous articulons nos prestations autour de deux thématiques précises: l'audit & le conseil ainsi que le développement spécifique.</p>
    <br/>
    <div class="clear"></div>
{% endblock %}
