{% extends '::base.html.twig' %}

{% block body %}
    
    <!--  Header   -->
    <div id="header_home">
        <div id="logo">
            <a href="home.html" title="Retour à la page d'accueil de Olitaz">
                <img src="{{ asset('/bundles/olitazhome/images/btn/logoOlitaz.png') }}" alt="Retour à la page d'accueil de Olitaz" />
            </a>
        </div>
        <div id="menu">
            {{ knp_menu('main') }}
        </div>
    </div>

    {% block content %}{% endblock %}
{% endblock %}
